/**
 * General styles
 * @author Alex Kovalev <alex.kovalevv@gmail.com> 
 * @copyright Alex Kovalev 23.08.2017 
 */

#WBCR {
  .premium-label(@position: relative, @positionTop:-8px, @positionLeft:-10px, @positionRight:auto) {
    display: inline-block;
    position: @position;
    content: 'PRO';
    background: #ff5722;
    border-radius: 4px;
    color: #fff;
    font-size: 10px;
    line-height: 1;
    font-style: normal;
    padding: 4px 6px;
    margin-left: 4px;
    vertical-align: top;
    top: @positionTop;
    left: @positionLeft;
    right: @positionRight;
    z-index: 11;
  }

  .wp-list-table {
    th, .plugin-name {
      font-size: 13px;
      font-weight: 600;
    }
    &.wbcr-upm-list-table-pro {
      &.wbcr-upm-column-premium {
        td {
          background: rgb(249, 242, 240) !important;
          .factory-buttons-way, input[type="checkbox"] {
            border-color: #fff;
            background: #fff;
          }
        }
      }
    }

    th, td {
      &.wbcr-upm-column-premium {
        background: rgb(249, 242, 240) !important;
        .factory-buttons-way, input[type="checkbox"] {
          border-color: #fff;
          background: #fff;
        }
      }
    }

    .plugin-update-tr.active td, &.plugins .active th.check-column {
      border-left: 4px solid #e6e6e6 !important;
      padding-left: 8px !important;
    }
    &.plugins .row-actions, &.plugins .second {
      padding: 0 0 5px;
      color: #949292;
    }
    &.plugins .active td, &.plugins .active th {
      background-color: #ffffff;
    }
    &.plugins, &.plugins td, &.plugins th, .row-actions .network_active, .row-actions .network_only {
      color: #777;
    }
    .widefat ol, .widefat p, .widefat tfoot tr td, .widefat tfoot tr th, .widefat thead tr td, .widefat thead tr th, .widefat ul {
      color: #7d7d7d;
    }

    #disable_updates, #disable_auto_updates, #disable_translation_updates, #hide_item {
      width: 100px;
    }
  }

  .column-flags .factory-checkbox {
    display: inline-flex;
  }

  /* upm */
  .wp-list-table.autoupdate {
    th {
      white-space: normal !important;
    }
    .plugin-title {
      white-space: normal !important;
    }
  }
  .wp-list-table__plugins {
    .plugin-title {
      max-width: 12rem;
    }
  }

  .wbcr-upm-group-header-pro {
    position: relative;
    display: inline-block;
    &:after {
      .premium-label(relative, 0, auto, 0);
    }
  }

  #disable_translation_updates, #hide_item {
    position: relative;
    &.wbcr-upm-column-pro:after {
      .premium-label(absolute, -10px, auto, 0);
    }
  }

  .factory-checkbox.wbcr-upm-icon-pro:after {
    .premium-label();
  }
  .wp-list-table.autoupdate .check-column{
    padding: 10px 9px;
  }
}

.factory-checkbox-disabled input, .factory-checkbox-disabled button {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
